<section id="content" class="magazine-section">

    <div class="row">
        <div class="col-lg-6 col-md-12 mt-3">
            <h1 id="ArchiveOneHeader" class="font-weight-bold text-center">
                <i class="fas fa-backward pr-2"></i>
                Archive one
            </h1>
            <br>
            <h5 class="text-center">
                <a class="font-weight-bold" routerLink="/archive-dayone-april2019">
                    <i class="fas fa-share"></i>
                    Day one - April 2019
                </a>
            </h5>
        </div>
        <div class="col-lg-6 col-md-12 mt-3">
            <h1 id="ArchiveTwoHeader" class="font-weight-bold text-center">
                <i class="fas fa-backward pr-2"></i>
                Archive two
            </h1>
            <br>
            <h5 class="text-center">
                <a class="font-weight-bold" routerLink="/archive-daytwo-april2019">
                    <i class="fas fa-share"></i>
                    Day two - April 2019
                </a>
            </h5>
        </div>
    </div>
</section>